@{
    ViewData["Title"] = "About Us";
}

<h1 class = "text-center">About Us</h1>
<body>
    <div class="container">
        <h2>Location</h2>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.844200739737!2d23.315301376006975!3d42.685842471164584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa851045e62c3f%3A0x75c66d6bd9bbbc0b!2z0LHRg9C7LiDigJ7QktC40YLQvtGI0LDigJwsINCh0L7RhNC40Y8!5e0!3m2!1sbg!2sbg!4v1724141029448!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>
