@{
    ViewData["Title"] = "About Us";
}

<h1 class="text-center">За нас</h1>
<body>
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md-6">
                <h2>Локацията, на която се намираме</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2932.844200739737!2d23.315301376006975!3d42.685842471164584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa851045e62c3f%3A0x75c66d6bd9bbbc0b!2z0LHRg9C7LiDigJ7QktC40YLQvtGI0LDigJwsINCh0L7RhNC40Y8!5e0!3m2!1sbg!2sbg!4v1724141029448!5m2!1sbg!2sbg"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            <div class="col-md-6", style="padding-right: 20px">
                <h2>Контакти</h2>
                <p class="contact-info">
                    <span class="phone-number">+359 88 8888 888</span><br>
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    <a href="https://www.facebook.com/people/Konstantin-Kourtev/100024771278473/?paipv=0&eav=AfYYgwlZrNhe6sHPjQErMl9mPGhyt1af5qQhrhWjwPN3lP8uemxtb8UC2Hgu49gQ1FE&_rdr" target="_blank" class="fa fa-facebook"></a>
                    <a href="mailto:info@example.com" target="_blank" class="fa fa-google"></a>
                    <a href="https://www.instagram.com/kkourtev/" target="_blank" class="fa fa-instagram"></a>
                    @*<a href="mailto:info@example.com" class="email">info@example.com</a>*@
                </p>
            </div>
        </div>
    </div>
</body>