@{
    ViewData["Title"] = "Teachers";
}
<h1>Нашите преподаватели:</h1>
<h2>Константин Куртев</h2>
<img src="~/images/download.jpg" alt="image" style="width: 300px; height: 400px;"/>
<p>Завършил....</p>